{% extends "base_generic.html" %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
    <div class="col-12 col-md-12">
        <h4>Приложение "Surprise Lesson"</h4>
      <p>Поставьте своему ребенку мультфильм в нашем приложении, и с интервалом несколько минут ему будут показываться уроки английского языка (подобно тому, как показвается реклама, только почаще).</p>
      <h5>Что есть:</h5>
      <ul>
          <li>Приложение подключено к YouTube, и весь контент будет оттуда.</li>
          <li>Уроки английского.</li>
          <li>На мобильных работает только через Яндекс.браузер.</li>
      </ul>
      <h5>Что в перспекиве:</h5>
      <ul>
          <li>Подключение к онлайн-кинотеатрам, допускающим такое подключение для качественного и разнообразного контента.</li>
          <li>Самые разнообразные уроки: несколько вариантов английского от разных поставщиков, другие языки, шахматы, ПДД, этикет и может что еще...</li>
          <li>Корректная работа на мобильных.</li>
          <li>Настройки для каждого ребенка в семье.</li>
          <li>Некоторые другие важные функции...</li>
      </ul>

      

    </div>
  </div>
</div>
{% endblock %}


