{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/script.js' %}"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
	<div class="row justify-content-center">
    <div class="col-12 col-md-12">
      <form name="search" >  <!-- class="card card-sm" -->
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input name="key" class="form-control form-control-lg form-control-borderless" type="text" placeholder="Поиск по YouTube"/>
          </div>
          <div class="col-auto">
            <button id="search" class="btn btn-lg" ><i class="fas fa-search "></i></button>
          </div>
        </div>
      </form>
    </div>
    <div id="myvideo" class="col-12 myvideo"  hidden="true">
      <div id="player"></div>
      <div id="playerLesson" hidden="true"></div>
    </div>
  </div>
<div class="row justify-content-center" id="search-result"></div> 
</div>


{% endblock %}


