.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .navbar-container {
      position: sticky;
      top: 0;
      overflow-y: auto;
      height: 100vh;
    }
    .navbar-container .navbar {
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: column;
      height: 100%;
    }
    .navbar-container .navbar-collapse {
      align-items: flex-start;
    }
    .navbar-container .nav {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .navbar-container .navbar-nav {
      flex-direction: column !important;
    }
  }
  
  .myvideo {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  border:1px solid #ccc;
  }
  .myvideo iframe,.myvideo object,.myvideo embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }